<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listar Clientestitle</title>
</head>
<body>
<div align="center">
     <h1>Clientes</h1>
     <a th:href="@{/cliente/nuevo}">Create Nuevo cliente</a>
     <table border="4" cellpadding="10">
     <thead>
        <tr>
         <th>Id</th>
         <th>Nombre</th>
         <th>Duracion</th>
         <th>Clasificacion</th>
         <th>Idioma</th>
         <th>Genero</th>
         <th>Formato</th>
         <th>Sinopsis</th>  
         <th>Acciones</th>  
        </tr>
     </thead>
     <tbody>
       <tr th:each="cliente : ${listaCliente}">
           <td th:text="${clientes.idCliente}">Id</td>
           <td th:text="${clientes.nameCliente}">Nombre del cliente</td>
           <td th:text="${clientes.direccion}">Direccion del cliente</td>
           <td th:text="${clientes.email}">Email del cliente</td>
          
          <td><a th:href="@{/cliente/actualizar/{id}(id=${cliente.idCliente})}">Actualizar</a>
						&nbsp;&nbsp;&nbsp; 
						<a th:href="@{/cliente/eliminar/{id}(id=${cliente.idCliente})}">Eliminar</a>
		  </td>       
       </tr>
     </tbody>
     </table>

</div>

</body>
</html>